/* --------------------------------------------------------
Author: Adam Jarvis
Email: adam@adamcjarvis.com
website: http://www.adamcjarvis.com
----------------------------------------------------------*/

/* ==========================================================================
   Config
   ========================================================================== */
$baseSize: 2rem;
$baseSpeed: 1000ms;
$basePrimaryColor: #1971c2;
$baseSecondaryColor: #d0ebff;


/* ==========================================================================
   Spinner Indicator
   ========================================================================== */
.spinner {
  animation: spin $baseSpeed infinite linear;
  border-radius: 50%;
  border: .20rem solid $baseSecondaryColor;
  border-top-color: $basePrimaryColor;
  height: $baseSize;
  width: $baseSize;
  overflow: hidden; // hide screen reader 'loading...' message
  text-indent: 100%; // hide screen reader 'loading...' message

  &-sm {
    height: $baseSize / 2;
    width: $baseSize / 2;
  }
  &-lg {
    height: $baseSize * 1.5;
    width: $baseSize * 1.5;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/* ==========================================================================
   Cube Spinner Indicator
   ========================================================================== */
$cubeSpeed: $baseSpeed * 2;

.cube-spinner {
  position: relative;
  height: 50px;
  width: 50px;
  overflow: hidden; // hide screen reader 'loading...' message
  text-indent: 100%; // hide screen reader 'loading...' message

  &:after, &:before  {
    background-color: $basePrimaryColor;
    content: " ";
    display: block;
    height: 15px;
    width: 15px;
    position: absolute;
    animation: cubeRotate $cubeSpeed infinite ease-in-out;
    top: 0;
    left: 0;
  }
  &:before {
    animation-delay: $cubeSpeed / 2;
    z-index: 99;
  }
}

@keyframes cubeRotate {
  25% {
    opacity: .7;
    transform: translateX(35px) rotate(-90deg) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: translateX(35px) translateY(35px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(35px) translateY(35px) rotate(-180deg);
  }
  75% {
    opacity: .7;
    transform: translateX(0) translateY(35px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}


/* ==========================================================================
   Cube Stacked Spinner Indicator
   ========================================================================== */

   $cubeSpeed: $baseSpeed * 2;

.cube-stacked-spinner {
  position: relative;
  height: 100px;
  width: 100px;
  overflow: hidden; // hide screen reader 'loading...' message
  text-indent: 100%; // hide screen reader 'loading...' message

  &:after, &:before {
    background-color: $basePrimaryColor;
    border-radius: 3px;
    content: " ";
    display: block;
    height: 35px;
    width: 35px;
    position: absolute;
    animation: cubeSlide $cubeSpeed infinite ease-in-out;
    top: 20px;
    left: 20px;
  }
  &:before {
    background-color: $baseSecondaryColor;
    animation-delay: $cubeSpeed / 2.5;
    z-index: 99;
  }
 
}

@keyframes cubeSlide {
  25% {
    transform: rotate(-90deg) scale(0.5);
  }
  50% {
    transform:rotate(-179deg);
    opacity: .7;
  }
  51% {
    transform:rotate(-180deg);
    opacity: .7;
  }
  75% {
    transform: rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-0) scale(1);
  }
}