/* --------------------------------------------------------
Author: Adam Jarvis
Email: adam@adamcjarvis.com
website: http://www.adamcjarvis.com
----------------------------------------------------------*/

/* ==========================================================================
   General Layout
   ========================================================================== */
// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,500,700');

body {
  font-family: 'Poppins', sans-serif;
}
